<div class="mt-4">
  <form method="POST" action="/searchForm">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Search Here .....
      </label>
      <input type="text" class="form-control" name="search" id="search" placeholder="search here" />
      <input type="text" class="form-control" name="fullName" id="search" placeholder="fullName" />
      <input type="text" class="form-control" name="age" id="search" placeholder="Age" />
    </div>
    <div class="mb-6">
      <button type="submit" class="btn btn-success">Search</button>
    </div>
  </form>
</div>